<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record id="view_hospital_patient_tree" model="ir.ui.view">
    <field name="name">hospital.patient.tree</field>
    <field name="model">hospital.patient</field>
    <field name="arch" type="xml">
      <tree>
        <field name="name" string="Patient Name"/>
        <field name="age" />
        <field name="gender" />
        <field name="ref" />
      </tree>
    </field>
  </record>

  <record id="view_hospital_patient_form" model="ir.ui.view">
    <field name="name">hospital.patient.form</field>
    <field name="model">hospital.patient</field>
    <field name="arch" type="xml">
      <form>
        <sheet>
          <group>
            <group>
              <field name="name" />
              <field name="age" />
            </group>
            <group>
              <field name="gender" />
              <field name="ref" />
            </group>
          </group>
        </sheet>
      </form>
    </field>
  </record>

  <record id="view_hospital_patient_search" model="ir.ui.view">
    <field name="name">hospital.patient.search</field>
    <field name="model">hospital.patient</field>
    <field name="arch" type="xml">
      <search>
        <field 
          name="name" 
          string="Patient Name" 
          filter_domain="[
            '|',
            ('name', 'ilike', self), ('ref', 'ilike', self)
          ]"/>
        <field name="ref" />
      </search>
    </field>
  </record>

  <menuitem
    id="menu_hospital_root"
    name="Hospital"
    web_icon="my_forth_module,static/description/icon.png"
    sequence="0"/>

  <menuitem
    id="menu_patient_master"
    name="Patient Details"
    parent="menu_hospital_root"
    sequence="0"/>

</odoo>